<p-menubar
  class="main-nav"
  [model]="menuItems">

  <!-- לוגו -->
  <ng-template pTemplate="start">
    <a routerLink=  "/">
    <img class="logo" src="http://localhost:5072/uploads/logo.png" alt="logo"/>
    </a>
  </ng-template>

  <!-- צד ימין -->
  <ng-template pTemplate="end">
    <button
      pButton
      icon="pi pi-shopping-cart"
      class="p-button-rounded p-button-text"
      routerLink="/cart"
      (click)="openCart()">
    </button>

    <button
      pButton
      icon="pi pi-user"
      class="p-button-rounded p-button-text"
      (click)="userMenu.toggle($event)">
    </button>

    <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
  </ng-template>

</p-menubar>
